* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.jumbotron {
    background-image: url("images/avocado.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: rgba(12, 6, 6, 0.973);
    border-radius: 0px;
}

.jumbotron h1 {
    margin: 0;
    font-size: 30px;
    line-height: 1.5;
}

.intro {
    padding-top: 160px;
}

.intro img {
    width: 220px;
}

.navbar {
    padding: 1% 0;
    font-size: 1.2em;
    background: #808880;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler .fa {
    color: #fff;
    font-size: 26px;
}

.navbar-brand {
    padding: 0 1px 5px;
    width: 150px;
    font-size: 24px;
}

.navbar-brand img {
    height: 50px;
    margin-right: 7px;
}

.nav-link {
    text-transform: uppercase;
    color: black;
}

.nav-link:hover {
    color: #373D20;
    text-transform: lowercase;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.dropdown-item:hover {
    color: #373D20;
    text-transform: lowercase;
}

.big-text {
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}

.banner-image,
.banner-info {
    margin: 30px 0;
}

.banner-info {
    text-align: center;
}

#services {
    background-color: lightgreen;
    height: fit-content;
}

#mteam {
    background-color: #dbe5e6;
    width: 100%;
    padding: 30px 0px;
}

#mteam h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    align-items: center;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

#our-team .row {
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.card {
    margin: 20px 10px;
}

.inner {
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.inner img {
    transition: all 1.5s ease-out;
}

.inner:hover img {
    transform: scale(1.5);
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}


/*flip card */

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.fwh {
    height: 100vh;
    box-sizing: border-box;
}

footer {
    background: #d8d8d8;
}


/* social media styling*/

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    font-size: 30px;
    transition: 0.6s;
    line-height: 50px;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(6) a:hover {
    background-color: #25D366;
}