            * {
                margin: 0px;
                padding: 0px;
            }
            
            html,
            body {
                height: 100%;
                width: 100%;
                padding-top: 70px;
                scroll-behavior: smooth;
                background-color: #77dd77;
            }
            
            .navbar {
                padding: 1% 0;
                font-size: 1.2em;
                background: white;
            }
            
            .navbar-brand {
                min-height: 55px;
                padding: 0 1px 5px;
            }
            
            .logo {
                height: 48px;
                padding: 2px 10px;
            }
            
            .navbar-toggler-icon {
                background-color: red;
            }
            
            .nav-link {
                text-transform: uppercase;
                color: black;
                font-weight: 200;
            }
            
            #home {
                background: url("images/foodcon1.jpg") no-repeat center center fixed;
                display: table;
                height: 100%;
                position: relative;
                width: 100%;
                background-size: cover;
            }
            
            .big-text {
                font-size: 52px;
                margin: 20px 0;
                color: darkorange;
            }
            
            .banner-image,
            .banner-info {
                margin: 30px 0;
            }
            
            .banner-info {
                text-align: center;
            }
            
            #our-team {
                background-color: aquamarine;
                width: 100%;
                padding: 30px 0px;
            }
            
            .text-lg-center {
                font-weight: 1200;
                font-size: 34px;
            }
            
            #our-team .row {
                justify-content: center;
                margin-top: 8%;
                margin-bottom: 8%;
            }
            
            .card {
                margin: 20px 10px;
            }
            
            .inner {
                overflow: hidden;
            }
            
            .inner img {
                transition: all 1.5s ease-out;
            }
            
            .inner:hover img {
                transform: scale(1.5);
            }
            
            .card-body {
                box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
            }
            
            flip card */ .card-flip>div {
                backface-visibility: hidden;
                transition: transform 300ms;
                transition-timing-function: linear;
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
            }
            
            .card-front {
                transform: rotateY(0deg);
            }
            
            .card-back {
                transform: rotateY(180deg);
                position: absolute;
                top: 0;
            }
            
            .card-flip:hover .card-front {
                transform: rotateY(-180deg);
            }
            
            .card-flip:hover .card-back {
                transform: rotateY(0deg);
            }