            * {
                margin: 0;
                padding: 0;
            }
            
            html,
            body {
                height: 100%;
                width: 100%;
                scroll-behavior: smooth;
            }
            
            nav {}
            
            .navbar {
                padding: 1% 0;
                font-size: 1.2em;
            }
            
            .navbar-style {
                box-shadow: 0 5px 10px teal;
            }
            
            .logo {
                height: 48px;
                padding: 2px 10px;
            }
            
            .navbar-toggler-icon {
                background-color: red;
            }
            
            .nav-link {
                text-transform: uppercase;
            }
            
            .big-text {
                font-size: 52px;
                margin: 20px 0;
                color: darkorange;
            }
            
            a.btn-first {
                background-color: darkorange;
                color: #fff;
            }
            
            a.btn-second {
                background: transparent;
                border: 1px solid darkorange;
                color: #333;
            }
            
            a.btn:hover {
                background: rgb(30, 255, 0);
                border: none;
                color: #fff;
                box-shadow: 5px 5px 10px #999;
                transition: 0.3s;
            }
            
            .banner-image,
            .banner-info {
                margin: 30px 0;
            }
            
            p {
                background: url("#");
                -webkit-background-clip: text;
            }